// Grid settings
$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #EBC738;
$brand-secondary: 		darken($brand-primary, 10%);
$light-text:			#ffffff;
$dark-text:				#383838;
